<template>
  <require from="helpers/converters/value-format"></require>
  <require from='./system-info'></require>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="pull-left">&copy; ${currentDate | valueFormat:'YYYY'} Periscope</p>
        </div>
        <div class="col-md-6 text-right">
            <span class="footer-meta">
              <system-info></system-info>
            </span>
        </div>
      </div>
    </div>
  </footer>
</template>
